body {
    font-family: "Rubik", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.filled__icon {
    color: #d0d0d0;
    width: 36px;
    height: 36px;
    padding: 6px;
    /* border: 2px solid #364153; */
    border: 2px solid #19191b;
    border-radius: 4px;
    /* background-color: #273141; */
    background-color: #27272a;
    transition: transform .2s ease-in-out, all .2s;
}

.filled__icon:hover {
    transform: scale(1.1) rotate(20deg);
    border-color: #facc15;
}

.bg-radial {
    /* background-image: radial-gradient(circle, #344B65, #243B55, #141E30); */
    background-image: radial-gradient(circle, #3f3f46, #27272a, #09090b);
}


.opacity-anim {
    animation: 1.5s infinite opacity-anim;
}

@keyframes opacity-anim {
    0% {
        opacity: .7;
    } 
    50% {
        opacity: .35;
    }
    100% {
        opacity: .7;
    }
}